#root {
  width: 360px;
  margin: 100px auto;
  border: 3px solid #2D4059;
  border-radius: 10px;
  padding: 10px;
  background-color: #F5F5F5;
}

#root h1 {
  margin-bottom: 20px;
}
.todo-input {
  margin-bottom: 20px;
}

.todo-input .input {
  width: 80%;
  border-radius: 5px;
}

.todo-input .button {
  border-radius: 5px;
}

.todo-item {
  margin: 2px 40px 2px 20px;
  position: relative;
}
.todo-item.check {
  text-decoration: line-through;
  color: #999;
}

.todo-item .todo-item-check, .todo-item .delete {
  margin-right: 10px;
}

.todo-item .input {
  width: 100%;
  border-radius: 5px;
}

.todo-item .button {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 5px;
}